body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 400;
  padding: 0.5rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

.principal {
  text-align: center;
}

.principal .principal__imgFondoHome {
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/Fondo1.jpg");
}

.principal .principal__imgFondoDudas {
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/Dudas.jpg");
}

.principal .principal__imgFondoPlanes {
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/BoxCerveza.jpg");
}

.principal .principal__imgFondoEstilos {
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/TiposCerveza.jpg");
}

.principal .principal__imgFondoConcepto {
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../images/Fondo2.jpg");
}

.principal .principal__titulo {
  background: #6c757d;
  background: radial-gradient(circle, rgba(77, 204, 204, 0.70632) 50%, rgba(57, 136, 208, 0.664303) 100%);
}

.principal .principal__titulo .principal__titulo--primero {
  color: #6c757d;
  font-size: 42px;
}

.principal .principal__titulo .principal__titulo--segundo {
  color: white;
  font-size: 28px;
  text-align: center;
}

.boton {
  background-color: #f26d21;
  border-color: #f26d21;
  transition: all 0.5s ease-in-out;
}

.boton:hover {
  transform: scale(1.2);
  background-color: #b6551c;
  transition: all 0.5s ease-in-out;
}

.bienvendida p {
  text-align: left;
}

.table .th1 {
  width: 8%;
}

.table .th2 {
  width: 40%;
}

.table .th3 {
  width: 15%;
}

.table .masInfo {
  color: #17a2b8;
}

.table .masInfo:hover {
  background-color: #117483;
  color: white;
  text-decoration: none;
}

.modelos .modelo1 {
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
  box-shadow: 0 0 10px 0 #7d7d7d;
  transition: all 0.5s ease-in-out;
}

.modelos .modelo1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 #7d7d7d;
  transition: all 0.5s ease-in-out;
}

.modelos .modelo1 ul li {
  font-weight: bold;
  line-height: 200%;
  font-size: 22px;
}

.modelos .modelos__titulo {
  font-size: 28px;
  margin: 1em 0;
  font-weight: bold;
  color: white;
}

.contactanos p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#footer a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
}

#footer .logo img {
  width: 100px;
}

#footer .redes img {
  width: 40px;
}

.diferenciales__imagen {
  height: 100px;
  width: 100px;
}

.func_fondo {
  background: #e3e2df;
  background: linear-gradient(180deg, #e3e2df 0%, white 75%);
}

.func_fondo .funcionamiento__boxInfo {
  padding: 1rem 2rem;
  line-height: 2;
}

.func_fondo .funcionamiento__imagen img {
  width: 60%;
  margin-left: 20%;
}

.func_fondo ol li {
  padding: 0;
}

#productos {
  margin: 2rem auto;
  padding: 2rem 0;
}

#productos .planA {
  border-radius: 20px;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
  transition: 0.5s ease-in-out;
}

#productos .planA:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 #7d7d7d;
  transition: 0.5s ease-in-out;
}

#productos .planB {
  border-radius: 20px;
  background: linear-gradient(318deg, #fdbb2d 0%, #22c1c3 100%);
  transition: 0.5s ease-in-out;
}

#productos .planB:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 0 #7d7d7d;
  transition: 0.5s ease-in-out;
}

#productos em {
  font-size: 28px;
  margin: 1em 0;
  font-weight: bold;
  color: white;
}

#productos .promo {
  font-weight: bold;
  padding-bottom: 1em;
}

#productos span {
  text-decoration: line-through;
}

#productos .oferta {
  color: #f7f7f7;
  font-size: 36px;
}

#productos ul li {
  font-weight: 700;
  line-height: 200%;
}

#informacionEmpresa .valores__imagen img {
  width: 50%;
  margin-left: 25%;
  border-radius: 500px;
  box-shadow: 0 0 10px 0 #7d7d7d;
}

#informacionEmpresa .valor__fondo1 {
  background: linear-gradient(180deg, #e3e2df 0%, white 75%);
}

#informacionEmpresa .valor__fondo2 {
  background: linear-gradient(180deg, white 25%, #e3e2df 100%);
}

.seleccion .seleccion__boton {
  background-color: #f26d21;
  border-color: #f26d21;
  transition: all 0.5s ease-in-out;
}

.seleccion .seleccion__boton:hover {
  transform: scale(1.1);
  background-color: #b6551c;
  transition: all 0.5s ease-in-out;
}

.seleccion .seleccion__boton .seleccion__boton a {
  font-size: 22px;
}

.var .var__header {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #cd8a32;
}

.var .var__tipo__titulo {
  font-size: 18px;
  font-weight: bold;
}

.var .var__tipo__texto {
  font-size: 14px;
}

@media all and (min-width: 576px) {
  p {
    font-size: 18px;
  }
  li {
    list-style-type: none;
  }
  .contactanos p {
    font-size: 28px;
  }
  #footer a {
    font-size: 14px;
  }
  #footer .logo img {
    width: 150px;
  }
  #footer .redes img {
    width: 50px;
  }
  .func_fondo ol li {
    list-style-type: decimal;
  }
  .var .var__header {
    font-size: 28px;
  }
  .var .var__tipo__titulo {
    font-size: 22px;
  }
  .var .var__tipo__texto {
    font-size: 18px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  #informacionEmpresa .valores__imagen img {
    width: 70%;
    margin-left: 15%;
    border-radius: 500px;
    box-shadow: 0 0 10px 0 #7d7d7d;
  }
}
